
@{
    ViewBag.Title = "Links";
}

<div class="common_style">

    <section class="why_section">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <h3>
                        My Classmates Links
                    </h3>
                </div>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <article>
                        Andrew Allen
                        <a href="http://www.double-a-dev.com" target="_blank">
                            <img src="~/Content/images/Andrew.jpg" height="450" width="450" />
                        </a>
                    </article>
                </div>

                <div class="col-md-4">
                    <article>
                        Abbey Outain
                        <a href="http://www.abbey-outain.com/" target="_blank">
                            <img src="~/Content/images/Abbey.jpg" height="450" width="450" />
                        </a>
                    </article>
                </div>

                <div class="col-md-4">
                    <article>
                        Don Richardson
                        <a href="http://www.don-richardson.com" target="_blank">
                            <img src="~/Content/images/Don.jpg" height="450" width="450" />
                        </a>

                    </article>
                </div>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <article>
                        Eric Faith
                        <a href="http://www.eric-faith.net" target="_blank">
                            <img src="~/Content/images/Eric.jpg" height="450" width="450" />
                        </a>
                    </article>
                </div>

                <div class="col-md-4">
                    <article>
                        Janet Lester
                        <a href="http://www.jlester-dev.net" target="_blank">
                            <img src="~/Content/images/Janet.jpg" height="450" width="450" />
                        </a>
                    </article>
                </div>

                <div class="col-md-4">
                    <article>
                        Jason Colobong
                        <a href="http://www.developer.jason-colobong.com" target="_blank">
                            <img src="~/Content/images/Jason.jpg" height="450" width="450" />
                        </a>
                    </article>
                </div>
            </div>



            <div class="row">

                <div class="col-md-4">
                    <article>
                        Josh Foley
                        <a href="http://www.joshua-foley.com/" target="_blank">
                            <img src="~/Content/images/Josh.jpg" height="450" width="450" />
                        </a>
                    </article>
                </div>

                <div class="col-md-4">
                    <article>
                        Joe Mcguire
                        <a href="http://joemcguire-design.com/" target="_blank">
                            <img src="~/Content/images/JoeMcguirepic.jpg" height="450" width="450"/>
                        </a>
                    </article>
                </div>

                <div class="col-md-4">
                    <article>
                        Scott Cashion
                        <a href="http://www.scott-cashion.com" target="_blank">
                            <img src="~/Content/images/scott.jpg" height="450" width="450" />
                        </a>
                    </article>
                </div>

            </div>
        </div>
    </section>
</div>