@{
    ViewBag.Title = "Resume";
}
<section class="admission_section">
    <div class="container">
        <div class="row">
            <div style="text-align:center">
                <div class="admission_detail-box">

                    <h2>
                        My Projects
                    </h2>
                    <p>
                        These are the projects that I have created using various skill that I acquired through my training at Centriq to become the Full Stack Web Designer that I am today!
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <a href="http://fed1sp.patrick-stephen.com/" target="_blank">
                            <img src="~/Content/images/FED1Site.png" height="550" width="550" @*style="max-width: 100vw"*@>
                        </a>
                        <p>This is my Frontend Development Project (static website using HTML and CSS)</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <a href="https://github.com/PatrickStephen/DungeonAppRedo" target="_blank">
                            <img src="~/Content/images/DungeonApp.png" height="550" width="550"@*style="max-width: 100vw"*@ />
                        </a>
                        <p>
                            A Harry Potter C# Text Based Game.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>Store Front Website (dynamic website using HMTL, CSS, JavaScript, C#, and MVC)</p>
                </div>

                <div class="col-md-6">
                    <div class="admission_img-container">
                        <img src="~/Content/images/admission.png" height="550" width="550" @*style="max-width: 100vw"*@>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>